BTCPAY_APIKEY                       = 'Your Btcpay server apikey generated as documented in the README.md file'
PUSHER_APIKEY                       = 'Pusher api key'
PUSHER_SECRET                       = 'Pusher secret'
PUSHER_CLUSTER                      = 'Pusher cluster (eu or us etc)'
PUSHER_APP_ID                       = 'Pusher app id'
DEFAULT_SERVICE                     = 'Optional variable to be used to skip the profile page and use only a default service. Must be the name of the service file name'
DEPLOYMENT_DOMAIN                   = 'Set this only in production. E.g. on Vercel or Digital Ocean. Not locally. The domain of your deployment'
NITRO_PRESET                        = 'Set this only on production if you deply to DO to: digital-ocean'
IPX_MAX_AGE                         = '31536000'
GITHUB_REPO                         = 'your github repo in the github_user/github_repo format'
GITHUB_TOKEN                        = 'Github token to access the repo. Only nided if the repo is private'
NUXT_PUBLIC_UMAMI_ID                = 'Umami analytics id. Set only on production'
NGROK_TOKEN                         = 'Ngrok token for development webhooks'
GOOGLE_SERVICE_ACCOUNT_EMAIL        = 'Google service account email to interact with the calendar. Check README.md for instructions'
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY  = 'Google service account private key to interact with the calendar. Check README.md for instructions'
GOOGLE_PERSONAL_CALENDAR_IDS        = 'Comma separated list of Google calendars id to read when you are busy. Check README.md for instructions'
GOOGLE_BOOKING_CALENDAR_ID          = 'Google booking calendar id to insert the paid booking. Check README.md for instructions'  