// rounded corners
// with same radious as other oruga components
.ltr-corner-rounded {
  border-radius: $base-border-radius;
  overflow: hidden;
}

// Fit on the screen
.ltr-fit {
  max-width: 100%;
  max-height: 85vh;
}

// Fit modal on the screen
.ltr-fit-mobile {
  max-height: 80vh !important;
  width: 95% !important;
  object-fit: contain !important;
  margin: auto !important;
}

.ltr-fit-tablet {
  height: 82vh !important;
  max-width: 95% !important;
  object-fit: contain !important;
  margin: auto !important;
}

// Overlays
.ltr-is-center-center {
  align-items: center;
  justify-content: center;
  display: flex;
}
.ltr-is-top-left {
  background: none;
  position: fixed;
  left: 20px;
  top: 20px;
}
.ltr-is-center-left {
  background: none;
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.ltr-is-center-right {
  background: none;
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.ltr-is-bottom-left {
  background: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.ltr-is-bottom-right {
  background: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.ltr-is-bottom-center {
  background: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

// make the text white inside the oruga notification
div.media-content {
	color: white;
}

// Class for the paid invoice icon with primary color
.ltr-is-192by192-primary svg {
  min-height: 192px;
  min-width: 192px;
  color: $primary;
}

// reduce top and bottom padding of the breadcrumb on mobile
@media screen and (max-width: 768px) {
  section.section.is-medium {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

// support new line in div strings
.ltr-has-new-line {
  white-space: pre-wrap;
}

// Replicate the bulma size classes for title and subtitle
// because for some unknown reason they are ignored by default
.is-1 {
  font-size: 3rem;
}
.is-2 {
  font-size: 2.5rem;
}
.is-3 {
  font-size: 2rem;
}
.is-4 {
  font-size: 1.5rem;
}
.is-5 {
  font-size: 1.25rem;
}
.is-6 {
  font-size: 1rem;
}
// This is a custom class
.is-7 {
  font-size: 0.75rem;
}

